mat-toolbar{
  font-size: 14px!important;
}

h3{
  background-color: #000000!important;
}


.example-full-width {
  width: 100%;
}







/*nuevo*/
/*@import url(https://fonts.googleapis.com/css?family=Fjalla+One);*/
*:after,
*:before,
* {
  box-sizing: border-box;
}

/*body {
  background: black;
}
*/
