<div class="container-fluid">
  <div class="row">
      <div class="col-md-2">
          pago
        </div>
    <div class="col-md-8">
      <!--Detalle-->
      <app-detalle-venta [codigoBarraInput]="codigoBarra"   [duplicadoInput]="numberDuplicado"></app-detalle-venta>
      <!--Fin Detalle-->
    </div>
    <div class="col-md-2">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar...">
          </mat-form-field>
          
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          
            <!-- Position Column -->
            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef class="text-center"> PRODUCTOS </th>
              <tr class="busca-expanded-row"><td mat-cell *matCellDef="let element"><b>{{element.nombre}} {{element.precio}}</b><br>
                                                          {{element.stock}}
                </td>
              </tr>
            </ng-container>
          
            <ng-container matColumnDef="precio" hidden>
              <th mat-header-cell *matHeaderCellDef class="text-center"> PRECIO </th>
              <td mat-cell *matCellDef="let element"></td>
            </ng-container>            
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row (click)="selectRow(row)" *matRowDef="let row; columns: displayedColumns;" class="busca-articulo-row"></tr>
          </table>
    </div>
  </div>
</div>
