<mat-toolbar style="text-align: center">
  <h4 class="text-center">Elimina Producto</h4>
</mat-toolbar>

<div class="container">
  <form class="mat-dialog-content"  #formControl="ngForm">
    <div class="row borde mt-2">
      <div class="col-md-4 colorNombre">ID</div>
      <div class="col-md-8 colorCampo">{{dato._id}}</div>   
    </div>  
    <div class="row borde">
      <div class="col-md-4 colorNombre">Código Interno</div>
      <div class="col-md-8 colorCampo">{{dato.codigoInterno}}</div>
    </div>
    <div class="row borde">
      <div class="col-md-4 colorNombre">Codigo Externo</div>
      <div class="col-md-8 colorCampo">{{dato.codigoExterno}}</div>
    </div>     
    <div class="row borde">
      <div class="col-md-4 colorNombre">Nombre</div>
      <div class="col-md-8 colorCampo">{{dato.nombre}}</div>
    </div>
    <div class="row borde">
      <div class="col-md-4 colorNombre">Descripción</div>
      <div class="col-md-8 colorCampo">{{dato.descripcion}}</div>
    </div>

    <div class="row mt-2">
      <div class="col-md-12 text-center">
        <img class="col-1  loading" *ngIf="loading" src="../../../assets/imagenes/aplicacion/cargando.gif" width="40" height="40"/>
        <button  class="col-sm-12 col-md-3 mb-sm-0 mb-1 mr-3" color="primary" mat-raised-button type="submit"  (click)="aceptarClick()" [disabled]="!formControl.valid">Eliminar</button>
        <button class="col-sm-12 col-md-3 " color="warn" mat-raised-button (click)="cancelarClick()" tabindex="-1">Cancelar</button>
      </div>
    </div>
  </form>
</div>
