.mat-menu-item {
    text-align: center !important;
}

.color-boton-menu{
    color: rgb(255, 102, 0) !important;
  }

a{
    color: #000000 !important;
}
button .mat-icon-button mat-icon{
    color: rgb(255, 102, 0) !important;
}

.mat-menu-item-highlighted:not([disabled]), .mat-menu-item.cdk-keyboard-focused:not([disabled]), .mat-menu-item.cdk-program-focused:not([disabled]), .mat-menu-item:hover:not([disabled]) {
   
    background-color:hsla(24, 98%, 51%, 0.199) !important;
    color: rgb(255, 102, 0) !important;
}

.active-link {
    color:rgb(255, 102, 0) !important; /* Note: You could also use a custom theme */
  }

  .nav-link {
     padding: 0 0 0 0;
}

.mat-menu-item {

line-height: 0 !important;
height: 30px !important;
padding: 0 5px !important;

  
}