<div class="pt-1" >
  <div class="col-md-12">
    <h4 class="text-center">Mantenedor Perfil</h4>
  </div>
</div>

<div class="content ml-2 mr-2">
<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
</mat-form-field>

<div class="mat-elevation-z8">

  <table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort>

     <!-- ID Index -->
     <ng-container matColumnDef="index">
        <th id='indexI' mat-header-cell *matHeaderCellDef mat-sort-header style=' width: 3%;'> N° </th>
        <td mat-cell *matCellDef="let row; let i = dataIndex;"style=' width: 3%;'> {{i+1}} </td>
      </ng-container>

    <!-- Sigla Column -->
    <ng-container matColumnDef="sigla">
      <th id='_siglaI' mat-header-cell *matHeaderCellDef mat-sort-header style=' width: 7%;'> Sigla</th>
      <td mat-cell *matCellDef="let row"style=' width: 7%;'> {{row.sigla}} </td>
    </ng-container>

    <!-- Descripcion Column -->
    <ng-container matColumnDef="descripcion">
      <th id='descripcionI' mat-header-cell *matHeaderCellDef mat-sort-header style=' width: 35%;'> Descripción </th>
      <td mat-cell *matCellDef="let row"  style=' width: 35%;'> {{row.descripcion}} </td>
    </ng-container>

    <ng-container matColumnDef="opciones" >
      <th id='opcionesI' mat-header-cell *matHeaderCellDef  style=' width: 10%; text-align: center'>
        <button mat-icon-button color="accent" class="nuevo" (click)="agregaNuevo()">
          <mat-icon>add</mat-icon>
        </button>
      </th>

      <td mat-cell *matCellDef="let row; let i=index;" style=' width: 10%; text-align: center'>

        <button mat-icon-button color="accent" style="size:5px" (click)="actualizaPerfil(row._id, row.sigla, row.description)">
          <mat-icon>edit</mat-icon>
        </button>

        <button mat-icon-button color="accent" (click)="consultaPerfil(row._id, row.sigla, row.descripcion)">
          <mat-icon>search</mat-icon>
        </button>

        <button mat-icon-button color="accent" (click)="eliminaPerfil(row._id, row.sigla, row.descripcion)">
          <mat-icon>delete</mat-icon>
        </button>

      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 20, 30, 100]"></mat-paginator>

</div>
</div>
