<!-- nav -->
<div *ngIf="currentUsuario">
  <div class="row color-fondo-barra-menu bodebotom" >
      <div class="col-1 " >
          <app-menu-mat></app-menu-mat>
      </div>
      <div class="col-10 text-right text-uppercase align-self-center"><mat-icon class="align-self-center">face</mat-icon> {{currentUsuario.usuarioDato.nombres}} {{currentUsuario.usuarioDato.apellidoPaterno}}
      </div>
      <div class="col-1"></div>
  </div>
</div>

<!--<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="// currentUser">
  <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/">Home</a>
      <a class="nav-item nav-link" (click)="logout()">Logout</a>
  </div>
</nav>
-->

<!-- main app container -->
<router-outlet></router-outlet>
