<mat-toolbar style="text-align: center">
  <h4 class="text-center">Ingresa Producto</h4>
<!--  <span>{{service.form.controls['$key'].value?"Modify Employee":"New Employee"}}</span>
<span class="fill-remaining-space"></span>
<button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
-->
</mat-toolbar>
<div class="container">
 
<!--  <div class="row" style="background-color: rgb(14, 112, 63)">
  <div class="col-lg-12"  style="text-align: center">
    <h4>Ingresa Noticia</h4>
  </div>
</div>

-->
<!--<form  [formGroup]="contacto" name="contacto" (ngSubmit)="submit" class="example-container"></form>-->
<form [formGroup]="agrega" name="agrega" class="mat-dialog-content" > 

  <div class="row">
    
   <!-- <input type="hidden" id="id_usuario" name="id_usuario" [(ngModel)]="dato.id_usuario" class="form-control">-->
    <div class="col-md-12">
      <label>Tipo Noticia: </label>
      
      <mat-radio-group [formControl]="cod_tiponoticia"  required>
        <mat-radio-button  value=1 class="mr-1 mt-1" id="rd1">Centro</mat-radio-button>
        <mat-radio-button  value=2 class="mt-1">Lateral</mat-radio-button>
      </mat-radio-group>
      <mat-error *ngIf="cod_tiponoticia.hasError('required')">
        Tipo Noticia Requerido
      </mat-error> 
    </div>
  
    <div class="col-md-12">  
        <mat-form-field class="example-full-width">
            <mat-label>Título</mat-label>
            <input matInput  class="form-control"  placeholder="Titulo" [formControl]="titulo"  required>
            <mat-error *ngIf="titulo.hasError('required')">
              Título Requerido
            </mat-error>  
            
        </mat-form-field>
    </div>
    
    <div class="col-md-12"> 
        <mat-form-field class="example-full-width">
            <mat-label>Descripción</mat-label>
            <input matInput  class="form-control"  placeholder="Descripción" [formControl]="descripcion_noticia"  required>
            <mat-error *ngIf="descripcion_noticia.hasError('required')">
              Descripción Requerido
            </mat-error>  
        </mat-form-field>
    </div>

    <div class="col-md-12"> 
      <mat-form-field class="example-full-width">
          <mat-label>Orden</mat-label>
          <input matInput type="number" class="form-control" placeholder="Orden" [formControl]="orden" required>
          <mat-error *ngIf="orden.hasError('required')">
            Orden Requerido
          </mat-error>  
      </mat-form-field>
    </div>
          
   <!-- <input type="hidden" id="nombrefoto" name="nombrefoto" [(ngModel)]="dato.nombrefoto" class="form-control">-->
    <div class="col-md-12 mt-2 text-center">
        
            <img class="col-1  loading" *ngIf="loading" src="../../../assets/imagenes/aplicacion/cargando.gif" width="40" height="40"/>
          
      <!--<button  class="col-sm-12 col-md-3 mb-sm-0 mb-1 mr-3" color="primary" mat-raised-button type="submit" (click)="aceptarClick(formControl)" [disabled]="!agrega.valid">Aceptar</button>-->
      <button class="col-sm-12 col-md-3 mb-sm-0 mb-1 mr-3" color="primary" mat-raised-button  (click)="aceptarClick()" [disabled]="!agrega.valid">Aceptar</button>
  
      <button class="col-sm-12 col-md-3 mb-3" color="warn" mat-raised-button (click)="cancelarClick()" tabindex="-1">Cancelar</button>
    </div>
  </div>
</form>

</div>